<ion-content>

    <ng-container *ngIf="promo">
        <div class=part1>
            <ion-slides #slidePromo class="menuSlide" pager="true" [options]="slideOpts">
                <ion-slide>
                    <div>
                        <ion-img src="assets/avatars/inicio1.png" class="imagenes" alt=""></ion-img>
                    </div>
                </ion-slide>
                <ion-slide class="vamos">
                    <div class="parte2">
                        <div>
                            <ion-img src="assets/avatars/inicio2.png" class="imagenes" alt=""></ion-img>
                        </div>
                        <div>

                        </div>
                    </div>
                </ion-slide>
                <ion-slide class="vamos">
                    <div>

                        <ion-img src="assets/avatars/inicio3.png" class="imagenes" alt=""></ion-img>


                    </div>
                </ion-slide>
            </ion-slides>
        </div>
        <div class="part3">
            <ion-button class="tamanio" (click)="cambiar()" expand="full">
                <ion-icon name="arrow-redo-outline"></ion-icon>Ingresar</ion-button>
        </div>
    </ng-container>

    <ng-container *ngIf="!promo">
        <ion-slides #slidePrincipal>
            <ion-slide>
                <form (ngSubmit)="login( f )" #f="ngForm">
                    <ion-grid fixed>
                        <ion-row>
                            <ion-col>
                                <img src="/assets/avatars/buho.png">
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-list>
                                    <ion-label color="danger" *ngIf="error">Password o correo incorrecto</ion-label>
                                    <ion-label *ngIf="noExist" color="danger">Correo no registrado</ion-label>

                                    <mat-form-field appearance="legacy" class="tamanioc">

                                        <mat-label>Correo</mat-label>
                                        <input matInput type="email" placeholder="Ingrese su correo" name="email" [(ngModel)]="usuariolog.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #email="ngModel">
                                        <mat-error class="text-danger" *ngIf="email.invalid && email.touched">Correo no válido</mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="legacy" class="tamanioc">
                                        <mat-label>Contraseña</mat-label>
                                        <input matInput [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="usuariolog.password" #password="ngModel" required>
                                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <ion-icon  [name]="hide ?'eye-off':'eye'"></ion-icon>    
                                            
                                        </button>
                                        <mat-error class="text-danger" *ngIf="password.invalid && password.touched">Contraseña requerida</mat-error>
                                    </mat-form-field>

                                    <mat-error *ngIf="password.invalid && password.touched">Contraseña requerida</mat-error>
                                </ion-list>
                            </ion-col>
                        </ion-row>

                        <p class="ion-text-end texto">
                            <a routerLink='/forgot-password'>Olvidaste tu contraseña?</a>
                        </p>

                        <ion-row>
                            <ion-col>
                                <ion-button type="submit" shape="round" expand="full">
                                    Ingresar
                                </ion-button>
                            </ion-col>
                        </ion-row>
                        <p class="ion-text-center texto">
                            Entra como invitado con:
                        </p>
                        <ion-row>
                            <ion-col>
                                <ion-button type="button" color="danger" (click)="loginGoogle()">
                                    <ion-icon name="logo-google"></ion-icon>
                                </ion-button>
                            </ion-col>

                        </ion-row>

                        <ion-col *ngIf="!pasar">
                            <ion-button shape="round" expand="full" fill="solid" color="tertiary" (click)="mostrarRegistro()">
                                Registrarse
                            </ion-button>
                        </ion-col>


                    </ion-grid>
                </form>
            </ion-slide>
            <ion-slide>
                <ion-grid fixed>
                    <ion-row>
                        <ion-col>
                            <ion-label color="primary">Registro</ion-label>
                        </ion-col>
                    </ion-row>
                    <mat-error *ngIf="usuarioexite">Esta cuenta ya esta registrada </mat-error>
                    <form [formGroup]="forma" (ngSubmit)="register(forma)" #formone="ngForm">
                        <ion-row>
                            <ion-col>
                                <ion-list>
                                    <ion-item>
                                        <ion-label position="floating">Email</ion-label>
                                        <ion-input [(ngModel)]="usuario.email" formControlName="email" required></ion-input>
                                    </ion-item>
                                    <mat-error *ngIf="forma.controls['email'].errors?.pattern"> {{errors.emailmal}}</mat-error>

                                    <ion-item>
                                        <ion-label position="floating">Nombre</ion-label>
                                        <ion-input [(ngModel)]="usuario.nombre" formControlName="nombre" type="text" required></ion-input>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label position="floating">Apellido</ion-label>
                                        <ion-input [(ngModel)]="usuario.apellido" formControlName="apellido" type="text" required></ion-input>
                                    </ion-item>

                                    <!--   <ion-item>
                                        <ion-label position="floating">Fecha nacimiento</ion-label>
                                        <ion-datetime [(ngModel)]="usuario.fechanacimiento" formControlName="fechanacimiento" required displayFormat="D MMM YYYY " min="1980" value="2005-06-17T11:06Z"></ion-datetime>
                                    </ion-item> -->
                                    <ion-item>

                                        <mat-form-field appearance="legacy" class="contorno">
                                            <mat-label class="colores">Fecha nacimiento</mat-label>
                                            <input matInput [matDatepicker]="picker" [(ngModel)]="usuario.fechanacimiento" formControlName="fechanacimiento" required>
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                            <mat-error *ngIf="forma.controls['fechanacimiento'].errors?.required">
                                                La fecha de nacimiento es requerida
                                            </mat-error>
                                        </mat-form-field>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label position="floating">Rol</ion-label>
                                        <ion-select [(ngModel)]="usuario.rol" formControlName="rol" required okText="Ok">
                                            <ion-select-option value="estudiante">Estudiante</ion-select-option>

                                        </ion-select>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label position="floating">Genero</ion-label>
                                        <ion-select [(ngModel)]="usuario.genero" formControlName="genero" required okText="Ok">
                                            <ion-select-option value="masculino">Masculino</ion-select-option>
                                            <ion-select-option value="femenino">Femenino</ion-select-option>
                                            <ion-select-option value="otro">Otro</ion-select-option>
                                        </ion-select>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label position="floating">Tecnología Superior</ion-label>
                                        <ion-select [(ngModel)]="usuario.carrera" formControlName="carrera" required cancelText="Cancelar" okText="Ok">
                                            <ion-select-option value="tsds">Desarrollo de Sofwate</ion-select-option>
                                            <ion-select-option value="tsasa">Aguas y Saneamiento Ambiental</ion-select-option>
                                            <ion-select-option value="tsem">Electromecánica</ion-select-option>
                                            <ion-select-option value="tset">Electrónica y Telecomunicaciones</ion-select-option>
                                        </ion-select>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label position="floating">Contraseña</ion-label>
                                        <ion-input [(ngModel)]="usuario.password" formControlName="password" required></ion-input>
                                    </ion-item>
                                    <mat-error *ngIf="forma.controls['password'].errors?.pattern">Mínimo 8 caracteres incluyendo al menos una mayúscula una minúscula y un número </mat-error>
                                </ion-list>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-button color="primary" shape="round" expand="full" (click)="formone.ngSubmit.emit()">
                                    Crear usuario
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </form>
                    <ion-col *ngIf="pasar">
                        <ion-button shape="round" expand="full" fill="solid" color="tertiary" (click)="mostrarLogin()">
                            Ir al login
                        </ion-button>
                    </ion-col>
                </ion-grid>
            </ion-slide>
        </ion-slides>
    </ng-container>

</ion-content>