<ion-header no-border>
    <ion-toolbar>

        <ion-buttons slot="start">
            <div class="contenido">
                <img src="/assets/avatars/buho.png" alt="" class="toolbarImage">
            </div>
        </ion-buttons>
        <ion-title color="primary" class="ion-text-center" routerLink="/main/tabs/tab6">
            ESFOT NOTICIAS
        </ion-title>
        <ion-buttons slot="end">
            <ion-button color="primary" routerLink="/main/tabs/tab3">
                <div class="contenido" *ngIf="valor">
                    <img [src]="usuario.photoURL[0].url" *ngIf="perfil" alt="" class="toolbarImage circular">
                    <img src="assets/avatars/av-1.png" *ngIf="!perfil" alt="" class="toolbarImage">
                </div>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button size="default" routerLink="/main/tabs/tab1" color="success">
                <ion-icon name="arrow-undo-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title color="primary">Mi Perfil</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="navegar()" color="danger">
                <ion-icon slot="icon-only" name="exit"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content>
    <div *ngIf="valor">
        <ion-row class="top-20">
            <div class="centrado">

                <img src="assets/avatars/av-1.png" *ngIf="!perfil" class="img-avatar">
                <img [src]="usuario.photoURL[0].url" *ngIf="perfil" class="img-avatar">

            </div>
            <div class="centrado">
                <div>
                    <ion-button shape="round" color="primary" class="circular" size="default" (click)="menu()">
                        <ion-icon name="camera-outline"></ion-icon>
                    </ion-button>
                </div>
            </div>
        </ion-row>

        <ion-row class="top-20">
            <ion-col size="12" text-center>
                <ion-label color="primary">
                    <div class="centrado">
                        <h1>Actualizar perfil</h1>
                    </div>
                </ion-label>
            </ion-col>
        </ion-row>


        <form [formGroup]="forma" (ngSubmit)="cambio(forma)" #formone="ngForm">
            <ion-row>
                <ion-col>

                    <ion-list>
                        <ion-item>
                            <ion-label *ngIf="usuario.usuarioVerificado">
                                Estado: Verificado
                            </ion-label>
                            <ion-label *ngIf="!usuario.usuarioVerificado">
                                Estado:No verificado
                            </ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Nombre</ion-label>
                            <ion-input formControlName="nombre" type="text" required maxlength="20"></ion-input>
                        </ion-item>
                        <mat-error *ngIf="forma.controls['nombre'].errors?.pattern">
                            {{errors.solotexto}}
                        </mat-error>
                        <ion-item>
                            <ion-label position="floating">Apellido</ion-label>
                            <ion-input formControlName="apellido" type="text" required maxlength="20"></ion-input>
                        </ion-item>
                        <mat-error *ngIf="forma.controls['apellido'].errors?.pattern">
                            {{errors.solotexto}}
                        </mat-error>

                        <ion-item>

                            <mat-form-field appearance="legacy" class="contorno">
                                <mat-label class="colores">Fecha nacimiento</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="fechanacimiento" required>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-error *ngIf="forma.controls['fechanacimiento'].errors?.required">
                                    La fecha de nacimiento es requerida
                                </mat-error>
                            </mat-form-field>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Genero</ion-label>
                            <ion-select formControlName="genero" required okText="Ok">
                                <ion-select-option value="masculino">Masculino</ion-select-option>
                                <ion-select-option value="femenino">Femenino</ion-select-option>
                                <ion-select-option value="otro">Otro</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item *ngIf="usuario.rol=='estudiante'|| usuario.rol=='docente'">
                            <ion-label position="floating">Tecnología Superior</ion-label>
                            <ion-select formControlName="carrera" required cancelText="Cancelar" okText="Ok">
                                <ion-select-option value="tsds">Desarrollo de Sofwate</ion-select-option>
                                <ion-select-option value="tsasa">Aguas y Saneamiento Ambiental</ion-select-option>
                                <ion-select-option value="tsem">Electromecánica</ion-select-option>
                                <ion-select-option value="tset">Electrónica y Telecomunicaciones</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>

            <ion-row>
                <div class="centrado">
                    <div>
                        <ion-button type="submit" color="tertiary" shape="round">
                            Actualizar
                        </ion-button>

                    </div>
                </div>
            </ion-row>

        </form>
    </div>

</ion-content>